<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Find your favorite restaurants">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" href="../public/icons/icon-144x144.png" sizes="144x144">
    <link rel="icon" type="image/png" href="../public/icons/icon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="../public/icons/icon-512x512.png" sizes="512x512">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icon/apple-touch-icon-180x180.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
    <meta name="theme-color" content="#FF4500">
</head>

<body>
    <a href="#content" class="content__link">Skip to content?</a>
    <nav-bar></nav-bar>
    <hero-part></hero-part>
    <!-- Content -->
    <main id="content" class="content"></main>
    <!-- Footer -->
    <footer-part></footer-part>
</body>

</html>
